*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 62.5em) {
  html {
    font-size: 43.75%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Barlow", sans-serif;
  color: #000;
  font-weight: 600;
  line-height: 1.6;
  font-size: 1.7rem;
}
@media only screen and (max-width: 37.5em) {
  body {
    font-size: 2rem;
  }
}

.container {
  padding: 0;
  display: grid;
  grid-template-rows: 100vh repeat(6, min-content);
  grid-template-columns: [full-start] repeat(2, [col-start] minmax(min-content, 1fr) [col-end]) [full-start];
}

.heading-1 {
  font-family: "Fraunces", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
  font-weight: 900;
  font-size: 5rem;
  color: hsl(0, 0%, 100%);
}
@media only screen and (max-width: 37.5em) {
  .heading-1 {
    line-height: 1.3;
  }
}

.heading-2 {
  font-size: 4rem;
  font-family: "Fraunces", sans-serif;
  color: hsl(212, 27%, 19%);
  line-height: 1.3;
}
@media only screen and (max-width: 37.5em) {
  .heading-2 {
    text-align: center;
    font-size: 4.5rem;
  }
}

.heading-3 {
  font-size: 3rem;
  font-family: "Fraunces", sans-serif;
}
.heading-3--cyan {
  color: hsl(167, 40%, 24%);
}
.heading-3--blue {
  color: hsl(198, 62%, 26%);
}

.heading-4 {
  font-size: 1.8rem;
  font-family: "Fraunces", sans-serif;
  color: hsl(212, 27%, 19%);
  text-transform: uppercase;
}

.navbar {
  display: grid;
}
.navbar__logo {
  grid-row: 1/2;
  grid-column: 1/-1;
  align-self: end;
}
.navbar__list {
  grid-row: 1/2;
  grid-column: 1/-1;
  justify-self: end;
  display: grid;
  grid-template-columns: repeat(4, min-content);
  grid-column-gap: 4rem;
  align-items: center;
  list-style: none;
}
@media only screen and (max-width: 53em) {
  .navbar__list {
    display: none;
  }
}
.navbar__item {
  display: inline-block;
  position: relative;
  padding-bottom: 0.3rem;
}
.navbar__item::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 1.8px;
  bottom: 0;
  background-color: hsl(0, 0%, 100%);
  transition: width 0.3s ease-in-out;
}
.navbar__item--btn::after {
  content: none;
}
.navbar__item:hover::after {
  width: 100%;
}
.navbar__link {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

.header {
  grid-column: full-start/full-end;
  background-image: url(/images/desktop/image-header.jpg);
  background-size: cover;
  position: relative;
  background-position: top;
  padding: 4vh 2vw;
  padding-bottom: 0;
}
@media only screen and (max-width: 53em) {
  .header {
    padding: 4vh 4vw;
  }
}
@media only screen and (max-width: 53em) {
  .header {
    padding: 5vh 5vw;
  }
}
@media only screen and (max-width: 37.5em) {
  .header {
    background-image: url(/images/mobile/image-header.jpg);
  }
}
.header__box {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
@media only screen and (max-width: 37.5em) {
  .header__box {
    width: 100%;
  }
}
.header__arrow {
  animation: jump-down 3s ease infinite;
}
.header__arrow-box {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 37.5em) {
  .header__arrow-box {
    top: 64%;
  }
}

@keyframes jump-down {
  0%, 50%, 100% {
    transform: translateY(0);
  }
  12.5%, 37.5% {
    transform: translateY(20px);
  }
  25% {
    transform: translateY(10px);
  }
}
.features {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, min-content);
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .features {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
  }
}

.feature {
  display: grid;
  padding: 8vh 7.2vw;
  grid-row-gap: 4.5vh;
}
.feature__text {
  color: hsl(232, 10%, 55%);
}
@media only screen and (max-width: 37.5em) {
  .feature {
    justify-items: center;
    text-align: center;
    padding: 8vh 5vw;
  }
}

.photo--1 {
  grid-column: 2/-1;
  grid-row: 1/2;
}
@media only screen and (max-width: 37.5em) {
  .photo--1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.photo--2 {
  grid-column: 1/2;
  grid-row: 2/3;
}
@media only screen and (max-width: 37.5em) {
  .photo--2 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
.photo__img {
  display: block;
  object-fit: cover;
  width: 100%;
  min-height: 50rem;
}
@media only screen and (max-width: 53em) {
  .photo__img {
    min-height: 60rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .photo__img {
    min-height: 50rem;
  }
}

.learn-div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 1000;
}

.stories {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  padding: 18vh 7.2vw;
  padding-top: 10vh;
  grid-column-gap: 2vw;
  justify-items: center;
}
@media only screen and (max-width: 53em) {
  .stories {
    grid-template-columns: 1fr;
    grid-row-gap: 4rem;
    padding: 9vh 7.2vw;
    padding-top: 5vh;
  }
}
@media only screen and (max-width: 37.5em) {
  .stories {
    padding: 4.5vh 5vw;
    padding-top: 2.5vh;
  }
}

.story-heading {
  padding-top: 18vh;
  text-align: center;
  grid-column: full-start/full-end;
  letter-spacing: 1.2rem;
  color: hsl(210, 4%, 67%);
}
@media only screen and (max-width: 53em) {
  .story-heading {
    padding-top: 9vh;
  }
}
@media only screen and (max-width: 37.5em) {
  .story-heading {
    font-size: 1.5rem;
    letter-spacing: 1rem;
    padding-bottom: 2rem;
  }
}

.story {
  display: grid;
  justify-items: center;
  grid-row-gap: 5vh;
}
@media only screen and (max-width: 37.5em) {
  .story {
    padding-top: 2rem;
  }
}
.story__img {
  width: 5rem;
  border-radius: 50%;
  display: block;
}
@media only screen and (max-width: 37.5em) {
  .story__img {
    width: 7rem;
  }
}
.story__text {
  text-align: center;
  color: hsl(213, 9%, 39%);
}
.story__name {
  text-align: center;
  margin-top: 5vh;
  font-family: "Fraunces", sans-serif;
  font-size: 1.8rem;
  color: hsl(212, 27%, 19%);
}
.story__role {
  text-align: center;
  font-size: 1.3rem;
  color: hsl(210, 4%, 67%);
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 2rem;
  display: inline-block;
  border-radius: 10rem;
  position: relative;
  background-color: hsl(0, 0%, 100%);
  color: hsl(212, 27%, 19%);
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.btn:hover {
  background-color: rgb(106, 204, 250);
  color: white;
}

.learn-btn {
  background-color: transparent;
  border: none;
  position: relative;
  cursor: pointer;
  height: 2rem;
  font-family: "Fraunces", sans-serif;
  color: hsl(212, 27%, 19%);
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 900;
  z-index: 1;
  width: 14rem;
  height: 2rem;
}

.learn-btn::after {
  content: "";
  width: 105%;
  position: absolute;
  bottom: 0px;
  height: 8px;
  left: -5.5%;
  border-radius: 10px;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
}
@media only screen and (max-width: 37.5em) {
  .learn-btn::after {
    width: 100%;
    left: -5%;
  }
}

.learn-btn--yellow::after {
  background-color: hsl(51, 100%, 49%);
}

.learn-btn--pink::after {
  background-color: hsl(7, 99%, 70%);
}

.learn-btn:hover::after {
  opacity: 1;
}

.infos {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (max-width: 37.5em) {
  .infos {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
  }
}

.info {
  position: relative;
}
.info--1 {
  grid-column: 1/2;
}
@media only screen and (max-width: 37.5em) {
  .info--1 {
    grid-column: 1/2;
  }
}
.info--2 {
  grid-column: 2/-1;
}
@media only screen and (max-width: 37.5em) {
  .info--2 {
    grid-column: 1/2;
  }
}
.info__overlay {
  position: absolute;
  top: 75%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2vh;
}
@media only screen and (max-width: 37.5em) {
  .info__overlay {
    width: 100%;
    padding: 0 5vw;
    top: 80%;
  }
}
.info__img {
  display: block;
  object-fit: cover;
  width: 100%;
  min-height: 50rem;
}
@media only screen and (max-width: 53em) {
  .info__img {
    min-height: 60rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .info__img {
    min-height: 100%;
  }
}
.info__text--cyan {
  color: hsl(167, 40%, 24%);
}
.info__text--blue {
  color: hsl(198, 62%, 26%);
}

.gallery {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media only screen and (max-width: 37.5em) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
.gallery__img {
  display: block;
  object-fit: cover;
  width: 100%;
}

.footer {
  grid-column: full-start/full-end;
  background-color: hsl(168, 46%, 68%);
  padding: 9vh 0;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-row-gap: 4rem;
}
.footer__list {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-column-gap: 5rem;
  align-items: center;
  list-style: none;
}
@media only screen and (max-width: 37.5em) {
  .footer__list {
    grid-column-gap: 8rem;
  }
}
.footer__list__link {
  text-decoration: none;
  color: hsl(168, 34%, 41%);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.footer__list__link:hover {
  color: hsl(0, 0%, 100%);
}
.footer__contact {
  display: grid;
  grid-template-columns: repeat(4, min-content);
  grid-column-gap: 3rem;
  align-items: center;
  margin-top: 4rem;
}
.footer__app {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.footer__app:hover {
  filter: brightness(5);
}

/*# sourceMappingURL=style.css.map */
