
// COLOR VARIABLES
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-saturated-cyan: hsl(167, 40%, 24%);
$dark-blue: hsl(198, 62%, 26%);
$dark-moderate-cyan: hsl(168, 34%, 41%);

$footer-background: hsl(168, 46%, 68%);

$very-dark-desaturated-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%); 

//FONT VARIABLES
$font-primary: 'Barlow', sans-serif;
$font-secondary: 'Fraunces', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 53em; // 850px
$bp-phone: 37.5em; //600px



*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-large) {
        font-size: 43.75%;
    }

    @media only screen and (max-width: $bp-phone) {
        font-size: 50%;
    }
}

body {
    font-family: $font-primary;
    color: #000;
    font-weight: 600;
    line-height: 1.6;
    font-size: 1.7rem;

    @media only screen and (max-width: $bp-phone) {
        font-size: 1.8rem;
    }
}

.container {
    padding: 0;
    display: grid;
    grid-template-rows: 100vh repeat(6, min-content);
    grid-template-columns: [full-start] repeat(2, [col-start] minmax(min-content, 1fr) [col-end]) [full-start];
}