.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: .5rem 2rem;
        display: inline-block;
        border-radius: 10rem;
        position: relative;
        background-color: $white;
        color: $very-dark-desaturated-blue;
        font-family: $font-secondary;
        font-weight: 700;
        font-size: 1.6rem;

        border: none;
        cursor: pointer;
        transition: .3s ease-in-out;

        @media only screen and (max-width: $bp-medium) {
            background-color: $yellow;
            font-size: 2rem;
            padding: 1.5rem 3.5rem;
        }
    }

    &:hover {
        background-color: rgb(106, 204, 250);
        color: white;
    }
}

