.features {
    grid-column: full-start / full-end;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, min-content);

    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $bp-phone) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, min-content);
    }

}

.feature {
    display: grid; 
    
    padding: 8vh 7.2vw;
    grid-row-gap: 4.5vh;

    &__text {
        color: $dark-grayish-blue;
    }

    @media only screen and (max-width: $bp-medium) {
        justify-items: center;
        text-align: center;
        padding: 16vh 15vw;
        grid-column: 1 / -1;
    }

    @media only screen and (max-width: $bp-phone) {
        justify-items: center;
        text-align: center;
        padding: 10vh 5vw;
    }

    &__link {
        position: relative;
        cursor: pointer;
        font-family: $font-secondary;
        color: $very-dark-desaturated-blue;
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: 900;
        z-index: 1;
        text-decoration: none;

        &::after {
            content: "";
            position: absolute;
            top: 90%;
            left: 50%;
            transform: translate(-50%, -.8rem);
            width: calc(100% + 1.5rem);
            height: 1rem;
            border-radius: 1rem;
            z-index: -1;
            opacity: 0.3;
            transition: all .3s ease-in-out;
        }

        &--pink::after {
            background-color: hsl(7, 99%, 70%);
        }

        &--yellow::after {
            background-color: hsl(51, 100%, 49%);
        }

        &:hover::after {
            opacity: 1;
        }
    }
}

.photo {
    &--1 {
        grid-column: 2 / -1;
        grid-row: 1 / 2; 

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1 / -1;
            grid-row: 1 / 2;
        }

        @media only screen and (max-width: $bp-phone) {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
    }

    &--2 {
        grid-column: 1 / 2;
        grid-row: 2 / 3; 

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1 / -1;
            grid-row: 3 / 4;
        }

        @media only screen and (max-width: $bp-phone) {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }
    }

    &__img {
        display: block;
        object-fit: cover;
        width: 100%;
        min-height: 50rem;

        @media only screen and (max-width: $bp-medium) {
            min-height: 60rem;
        }

        @media only screen and (max-width: $bp-phone) {
            min-height: 50rem;
        }
    }
}


