.footer {
    grid-column: full-start / full-end;
    background-color: $footer-background;
    padding: 9vh 0;

    display: grid;
    justify-items: center;
    align-items: center;

    grid-row-gap: 4rem;

    &__list {
        display: grid;
        grid-template-columns: repeat(3, min-content);
        grid-column-gap: 5rem;
        align-items: center;
        list-style: none;

        &__link {
            text-decoration: none;
            color: $dark-moderate-cyan;
            transition: .3s ease-in-out;
            cursor: pointer;

            &:hover {
                color: $white;
            }
        }
    }

    &__contact {
        display: grid;
        grid-template-columns: repeat(4, min-content);
        grid-column-gap: 3rem;
        align-items: center;

        margin-top: 4rem;
    }

    &__app {
        cursor: pointer;
        transition: .3s ease-in-out;
        &:hover {
            filter: brightness(5);
        } 
    }
}
