.gallery {
    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    &__img {
        display: block;
        object-fit: cover;
        width: 100%;
    }
}