.header {
    grid-column: full-start / full-end;

    background-image: url(/images/desktop/image-header.jpg);
    background-size: cover;
    position: relative;
    background-position: top;

    padding: 4vh 4vh;
    padding-bottom: 0;

    &__box {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &__arrow-box {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}