.header {
    grid-column: full-start / full-end;

    background-image: url(/images/desktop/image-header.jpg);
    background-size: cover;
    position: relative;
    background-position: top;

    padding: 4vh 2vw;
    padding-bottom: 0;

    @media only screen and (max-width: $bp-medium) {
        padding: 4vh 4vw;
    }

    @media only screen and (max-width: $bp-medium) {
        padding: 5vh 5vw;
    }

    @media only screen and (max-width: $bp-phone) {
        background-image: url(/images/mobile/image-header.jpg);
    }

    &__box {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;

        @media only screen and (max-width: $bp-phone) {
            width: 100%;
        }
    }

    &__arrow-box {
        position: absolute;
        top: 56%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: jump-down 2s ease infinite;

        @media only screen and (max-width: $bp-phone) {
            top: 60%;
        }
    }

}

@keyframes jump-down {
    0%,
    50%,
    100% {
      transform: translateY(0);
    }
    12.5%,
    37.5% {
      transform: translateY(20px);
    }
    25% {
      transform: translateY(10px);
    }
  }