.infos {
    grid-column: full-start / full-end;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media only screen and (max-width: $bp-phone) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, min-content);
    }

}

.info {
    position: relative;
    &--1 {
        grid-column: 1 / 2;

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1 / -1;
        }

        @media only screen and (max-width: $bp-phone) {
            grid-column: 1 / 2;
        }
    }

    &--2 {
        grid-column: 2 / -1;

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1 / -1;
        }

        @media only screen and (max-width: $bp-phone) {
            grid-column: 1 / 2;
        }
    }

    &__overlay {
       position: absolute;
       top: 75%;
       left: 50%;
       width: 60%;
       transform: translate(-50%, -50%);
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center; 
       text-align: center;
       gap: 2vh;

       @media only screen and (max-width: $bp-phone) {
        width: 100%;
        padding: 0 5vw;
        top: 80%;
        }

    }

    &__img {
        display: block;
        object-fit: cover;
        width: 100%;
        min-height: 50rem;

        @media only screen and (max-width: $bp-medium) {
            min-height: 60rem;
        }

        @media only screen and (max-width: $bp-phone) {
            min-height: 100%;
        }
    }

    &__text {
        &--cyan {
            color: $dark-saturated-cyan;
        }

        &--blue {
            color: $dark-blue;
        }
    }
}