.infos {
    grid-column: full-start / full-end;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.info {
    position: relative;
    &--1 {
        grid-column: 1 / 2;
    }

    &--2 {
        grid-column: 2 / -1;
    }

    &__overlay {
       position: absolute;
       top: 75%;
       left: 50%;
       width: 60%;
    //    height: 100%;
       transform: translate(-50%, -50%);
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center; 
       text-align: center;
       gap: 2vh;
    }

    &__img {
        display: block;
        object-fit: cover;
        width: 100%;
    }

    &__text {
        &--cyan {
            color: $dark-saturated-cyan;
        }

        &--blue {
            color: $dark-blue;
        }
    }
}