.navbar {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;

    &__list {

        display: flex;
        gap: 4rem;
        list-style: none;
        padding: 0;
        margin: 0;

        @media only screen and (max-width: $bp-medium) {
            position: fixed;
            top: 15rem;
            left: 5vw;
            right: 5vw;

            flex-direction: column;
            align-items: center;
            padding: 4rem;
            box-shadow: 0 10px 40px hsla(0, 0%, 0%, 0.1);
            background-color: #fff;
            gap: 3.5rem;
            z-index: 1100;
            opacity: 0;
            transform: scale(0.9);
            font-size: 2.5rem;
            transition: .3s ease;
        }

    }

    &__list::before {
        content: "";
        position: fixed;
        border: 2.4rem solid transparent;
        border-right-color: $white;
        top: -2.4rem;
        right: 0;

        @media only screen and (min-width: $bp-medium) {
            content: none;
        }
    }

    &__list[data-visible="true"] {

        transform: scale(1);
        opacity: 1
    }

    &__item {
        display: inline-block;
        position: relative;
        padding-bottom: .1rem;
    }

    &__item::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 1.8px;
        bottom: 0;
        background-color: $white;
        transition: width .3s ease-in-out;

        @media only screen and (max-width: $bp-medium) {
            content: none;
        }
    }

    &__item--btn::after {
        content: none;
    }

    &__item:hover::after {
        width: 100%;
    }

    &__link {
        text-decoration: none;
        color: $white;

        @media only screen and (max-width: $bp-medium) {
            color: $dark-grayish-blue;
            text-align: center;
        }
    }

    &__toggle {
        background-color: transparent;
        display: block;
        position: absolute;
        width: 3rem;
        aspect-ratio: 1;
        top: 5vh;
        right: 5vw;
        z-index: 9999;
        background-image: url(/images/icon-hamburger.svg);
        background-repeat: no-repeat;
        background-size: cover;
        border: 0;
        cursor: pointer;

        @media only screen and (min-width: $bp-medium) {
            display: none;
        }

    }


}




