.navbar {
    display: grid;


    &__logo {
        grid-row: 1 / 2;
        grid-column: 1 / -1;

        align-self: end;
    }

    &__list {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        justify-self: end;
        display: grid;
        grid-template-columns: repeat(4, min-content);
        grid-column-gap: 4rem;
        align-items: center;
        list-style: none;

        @media only screen and (max-width: $bp-medium) {
            display: none;
        }
    }

    &__item {
        display: inline-block;
        position: relative;
        padding-bottom: .3rem;
    }

    &__item::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 1.8px;
        bottom: 0;
        background-color: $white;
        transition: width .3s ease-in-out;
    }

    &__item--btn::after {
        content: none;
    }

    &__item:hover::after {
        width: 100%;
    }

    &__link {
        text-decoration: none;
        color: $white;
    }

}

// MOBILE NAV


