.stories {
    grid-column: full-start / full-end;

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

    padding: 18vh 7.2vw;
    padding-top: 10vh;
    grid-column-gap: 2vw;

    justify-items: center;

    @media only screen and (max-width: $bp-medium) {
        grid-template-columns: 1fr;
        grid-row-gap: 5rem;

        padding: 9vh 7.2vw;
        padding-top: 5vh;

    }



}

.story-heading {
    padding-top: 18vh;
    text-align: center;
    grid-column: full-start / full-end;
    letter-spacing: 1.2rem;
    color: $grayish-blue;

    @media only screen and (max-width: $bp-medium) {
        padding-top: 9vh;

    }
}

.story {
    display: grid;
    justify-items: center;

    grid-row-gap: 5vh;

    &__img {
        width: 5rem;
        border-radius: 50%;
        display: block;  
    }

    &__text {
        text-align: center;
        color: $very-dark-grayish-blue;
    }

    &__name {
        text-align: center;
        margin-top: 5vh;
        font-family: $font-secondary;
        font-size: 1.8rem;
        color: $very-dark-desaturated-blue;
    }

    &__role {
        text-align: center;
        font-size: 1.3rem;
        color: $grayish-blue;
    }

}