.heading-1 {
    font-family: $font-secondary;
    text-transform: uppercase;
    letter-spacing: .7rem;
    font-weight: 900;
    font-size: 4rem;
    color: $white;
} 

.heading-2 {
    font-size: 4rem;
    font-family: $font-secondary;
    color: $very-dark-desaturated-blue;

    line-height: 1.3;
}

.heading-4 {
    font-size: 1.8rem;
    font-family: $font-secondary;
    color: $very-dark-desaturated-blue;
    text-transform: uppercase;
}